body {
    background-color: blanchedalmond;
}

.main-block-front {

}

.main-block-products {
    
}

.main-block-blog {
    
}

footer {
    background-color: #F2F2F2;

}

.footer-contact {
}

.footer-menu-bottom {
    background-color: #ffffff;

}