body {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin: 20px 0px 10px 0px;
}

#mobileTable {
    margin-top: 20px;
}

select {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-top: 5px;
}

.treeGA { grid-area: GroupA; }
.treeGB { grid-area: GroupB; }
.treeGC { grid-area: GroupC; }
.treeGD { grid-area: GroupD; }
.treeVF1 { grid-area: Viertel1; }
.treeVF2 { grid-area: Viertel2;}
.treeHF { grid-area: Halb; }
.treeFinal { grid-area: Final;}


#tree {
    display: grid;
    grid-template-areas:
    'GroupA     .           Halb        .           GroupC'
    'GroupA     Viertel1    Halb        Viertel2    GroupC'
    'GroupB     Viertel1    Final       Viertel2    GroupD'
    'GroupB     .           Final       .           GroupD';
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 25% 25% 25% 25%;
    width: fit-content;
    height: 470px;
    padding: 20px;
    margin: auto;
}

.treeGA {
    background-color: #f5dcf3;
    padding: 20px;
}

.treeGB {
    background-color: #dfdcf5;
    padding: 20px;
}

.treeGC {
    background-color: #d7eecd;
    padding: 20px;
}

.treeGD {
    background-color: #cdeee0;
    padding: 20px;
}

p {
    margin: 2px;
    width: 60px;
    text-align: center;
}

.match {
    display: flex;
    justify-content: center;
}

.treeVF1 {
    display: flex;
    align-items: center;
    background-color: #d87093;
    padding: 20px;
    height: fit-content;
}

.treeVF2 {
    display: flex;
    align-items: center;
    background-color: #98fb98;
    padding: 20px;
    height: fit-content;
}

.treeHF {
    display: flex;
    align-items: center;
    background-color: #8690ca;
    padding: 20px;
    height: fit-content;
}

.treeFinal {
    display: flex;
    align-items: center;
    background-color: #333272;
    padding: 20px;
    height: fit-content;
    color: wheat;
}

.treeFinal table {
    border-color: wheat;
}

.treeFinal td {
    border-color: wheat;
}

#groupTable {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 120px;
    width: fit-content;
    padding: 20px 0px;
    background-color: #f5f5dc;
    margin: auto
}

#groupTable div {
    padding: 0px 20px 0px 20px;
}

table, td {
    border: 1px solid black;
    padding: 3px;
}

th {
    font-size: 22px;
}
