body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4B4B4B;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

h4 {
    font-size: 1rem;
    font-weight: 600;
}

button.btn {
    font-weight: 500;
    font-size: 1.1rem;
    border: none;
    border-radius: 1.5rem;
    padding: 0.7rem 1.3rem 0.9rem 1.3rem;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #FBB900;
}

.container {
    --bs-gutter-x: 3.5rem;
}

.header-menu-top .logoDiv img {
    height: 40px;
}

.header-menu-top .nav-top {
    font-weight: 500;
    display: flex;
    align-items: center;
}

#megamenu-blog img,
#megamenu-product img {
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

#megamenu-blog .megamenu-blogArticle,
#megamenu-product .megamenu-productProcuct {
    color: #c6c6c6;
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.header-menu-top #megamenu-blog button,
.header-menu-top #megamenu-product button {
    color: #4B4B4B;
    background-color: #F2F2F2;
    width: fit-content;
}

#megamenu-blog .articleText,
#megamenu-product .productList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#megamenu-product .pA {
    background-color: #FBB900;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
}

#megamenu-product .pB {
    background-color: #009E3C;
    border-radius: 0.8rem;
    margin-bottom: 1.5rem;
}

#megamenu-product .productButtons h2 {
    padding-bottom: 1rem;
}

#megamenu-product .productButtons button.btn {
    font-size: 0.9rem;
    border-radius: 1.3rem;
    padding: 0.6rem 1.2rem 0.8rem 1.2rem;
}

#megamenu-product .toProducts {
    font-weight: 500;
    text-decoration: underline;
    padding-bottom: 1rem;
}

.header-menu-top hr {
    margin-top: 0;
    margin-bottom: 10px;
}

.main-block-front .front-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    color: #ffffff;
    text-align: center;
}

.main-block-front .imgText {
    padding: 0 10rem;
}

.main-block-front .front-text h1 {
    font-size: 4.5rem;
    font-weight: 700;
}

.main-block-front .front-subtext {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 1rem 2rem;
}

.main-block-front button {
    color: #4B4B4B;
    background-color: #ffffff;
}

.main-block-products .row {
    color: #ffffff;
    padding-top: 0.6rem;
}

.main-block-products .product {
    border-radius: 0.8rem;
    padding: 4rem 0 1.5rem 0;
}

.main-block-products .productText {
    padding: 4rem 1rem 1.5rem 1rem;
}

.main-block-products .productText p {
    font-size: 0.9rem;
    font-weight: 300;
}

.main-block-products .pG {
    background-color: #004587;
    margin-bottom: 1.5rem;
}

.main-block-products .pF {
    background-color: #009CC4;
    margin-bottom: 1.5rem;
}

.main-block-products .pA {
    background-color: #FBB900;
    margin-bottom: 1.5rem;
}

.main-block-products .fa-stack {
    font-size: 1.2rem;
    padding-top: 1rem;
}

.main-block-products .fa-circle {
    color: #ffffff;
}

.main-block-products .fa-arrow-right {
    color: #4B4B4B;
}

.main-block-products .toProducts {
    font-weight: 500;
    text-decoration: underline;
    text-align: right;
}

.main-block-blog {
    text-align: center;
}

.main-block-blog .highlightsRow,
.main-block-blog .article {
    padding: 1rem 0rem;
}

.main-block-blog .imgFilter {
    text-align: left;
}

.main-block-blog .imgFilter button {
    color: #4B4B4B;
    background-color: #F2F2F2;
    margin-top: 1.5rem;
}

.main-block-blog .imgFilter button:active {
    border: 1px solid #4B4B4B;
    background-color: #F2F2F2;
}

.main-block-blog .scrollContainerArrow.fa-stack {
    position: absolute;
    margin-top: 10rem;
    margin-left: 30rem;
}

.main-block-blog .scrollContainerArrow .fa-circle {
    color: #4B4B4B;
}

.main-block-blog .scrollContainerArrow .fa-arrow-right {
    color: #ffffff;
}

.main-block-blog .imgScrollContainer {
    padding: 1rem 0;
    overflow: scroll;
    white-space: nowrap;
}

.main-block-blog .imgScrollContainer img {
    margin-right: 1rem;
    border-radius: 1.3rem;
}

.main-block-blog .article {
    --bs-gutter-x: 0rem;
}

.main-block-blog .articleText {
    color: #ffffff;
    background-color: #009CC4;
    border-radius: 0.8rem 0.8rem 0 0;
    padding: 1.8rem 1rem 1.5rem 1.8rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-block-blog .articleText p,
.main-block-blog .highlight p {
    font-size: 1.1rem;
    font-weight: 300;
}

.main-block-blog img {
    min-height: 339.22px;
    border-radius: 0 0 0.8rem 0.8rem;
}

.main-block-blog .articleText button {
    color: #4B4B4B;
    background-color: #ffffff;
    margin-top: 2rem;
    width: fit-content;
}

.main-block-blog .articleText button.btn:hover {
    color: #ffffff;
    background-color: #004587;
}

.main-block-blog .highlightDiv {
    display: flex;
}

.main-block-blog .highlight {
    background-color: #F2F2F2;
    flex: 1;
    padding: 1.5rem 1rem;
    border-radius: 0.8rem;
}

.main-block-blog .highlight i {
    padding-bottom: 1rem;
}

.main-block-blog span.fa-stack {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.main-block-blog .fa-circle {
    color: #F2F2F2;
}

.main-block-blog .fa-chevron {
    color: #4B4B4B;
}

@media (min-width: 768px) {
    .main-block-blog .articleText {
        border-radius: 0.8rem 0 0 0.8rem;
    }

    .main-block-blog img {
        border-radius: 0 0.8rem 0.8rem 0;
    }
}

footer {
    background-color: #F2F2F2;
}

.footer-contact li {
    padding-bottom: 0.5rem;
}

.footer-contact p {
    margin-bottom: 1rem;
}

.footer-contact button {
    color: #ffffff;
    background-color: #4B4B4B;
}

.footer-contact .row-space {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-contact .socialNav {
    margin-bottom: 1rem;
}

.footer-menu-bottom {
    background-color: #ffffff;
}

.order-2 {
    padding: 0.5rem 0rem;
}

.nav-link {
    color: #4B4B4B;
}